.node--type-news {
  .field--name-field-image-media{
    float: left;
    clear: both;
  }
  .field--name-field-summary-html{
    color: $text-color-black;
  }
  .field--name-field-aditional-resources {
    /*
    > .field__label {
      background: url(../images/separator_home.jpg) repeat-x scroll 0 100% rgba(0,0,0,0);
      color: $text-color-black-label;
      font-family: $font-family-sans;
      font-size: 1.6rem;
      font-weight: 300;
      margin-bottom: 0;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
    .field__items {
      > .field__item {
        background: url(../images/back-tit-blue.png) repeat-x 0 100% transparent;
        padding: 1rem 0;
        width: 100%;
      }
      .field__item {
        .file a {
          font-size: 0.9rem;
        }
      }
    }
    */
  }
}

.node--type-news,
.node--type-highlight,
.node--type-press-release{
  .field--name-field-aditional-resources{
    background: #cfddee;
    padding: 1rem 2rem;
    margin: 2rem 0rem;
    position: relative;
    .field--name-field-aditional-resources{
      padding: 0;
      margin: 0;
    }
    > .field__label{
      font-size: 1.4rem !important;
      font-weight: 600;
      line-height: 30px;
      font-family: 'Open Sans',sans-serif;
      color: #003399;
    }
    > .field__items{
      padding:1rem 0rem 1rem 0rem;
      > .field__item{
        a{
          /*line-height: 30px;
          font-size: 0.9rem;
          font-weight: normal;
          padding: 0;*/
        }
        h2 {
          /*font-size: 0.9rem;
          font-weight: normal;
          padding: 0;*/
          a{
            /*line-height: 30px;*/
          }
        }
      }
    }
  }
}
.related-resources-wrapper{
  background: #cfddee;
  padding: 1rem 2rem;
  margin: 2rem 0rem;
  position: relative;
  .content-headings-related{
    padding-top: 0;
  }
  h3.custom-border{
    span{
      background: #cfddee;
    }
  }
  .aditional-publications{
    .publications-left-column{
      min-width: 150px;
      overflow: hidden;
    }
    .publications-detail-right-column{
      padding-right: 0;
      .content-publication-info{
        display: flex !important;
        flex-wrap: wrap;
        time{
          width: 100%;
        }
      }
    }
  }
  .publication-field{
    background: none;
    padding-bottom: 0;
  }
}
